/*.titleflexbox is the flex container for the title, .titleflex and .subtitleflex are it's children*/
.titleflexbox{
  display: -webkit-flex;
  display: flex;
}

.titleflex{
  display: -webkit-flex;
  display: flex;
  font-family: 'Oxygen', sans-serif;
}

.subtitleflex{
  display: -webkit-flex;
  display: flex;
  font-family: 'Oxygen', sans-serif;
  float: initial;
}
